*.swp
*.pyc
*.zip

/pm.log*

/pro_static/

/.idea
/test

*.sqlite3

/secret
/uwsgi_pmtour.xml
/django_wsgi.py
/mysite/settings.py

fixtures/
migrations/
/static
/log

/venv
/ENV/
*.sql

ptmp/
dist/
build/
.python-version
/tmp
