{% extends "pmtour/base.html" %}
{% load static %}
{% block title %}{{ tour.name }} - 添加临时选手{% endblock %}
{% block jss %}
<script type="text/javascript" src="{% static 'pmtour/add_test_player.js' %}"></script>
{% endblock %}
{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">添加临时选手</div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="test_name">
            </div>

            <div class="col-sm-2">
                <button class="btn btn-primary btn-block" id="add_name">添加</button>
            </div>
        </div>
        <p>&nbsp;</p>
        <form id="test_add" action="#" method="post" accept-charset="UTF-8">

            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-12">
                    <select multiple="multiple" class="form-control" id="players_from" name="selected_players"></select>
                </div>

            </div>

            <p>&nbsp;</p>
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-primary">完成</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}
