{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{{ tour.name }}</div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item"><a href="/{{ tour.alias }}">比赛主页</a></li>
                    <li class="list-group-item"><a href="/{{ tour.alias }}/bracket">对阵表</a></li>
                    <li class="list-group-item"><a href="/{{ tour.alias }}/standings">排行榜</a></li>

                    <li class="list-group-item"><a href="/{{ tour.alias }}/discussion">讨论区</a></li>

                    <li class="list-group-item"><a href="/{{ tour.alias }}/log">记录</a></li>
                </ul>
            </div>
            {% if has_perm %}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">管理</div>
                <!-- List group -->
                <ul class="list-group">
                    {% if user.is_staff %}
                    <li class="list-group-item"><a href="/{{ tour.alias }}/settings">设置</a></li>
                    <li class="list-group-item"><a href="/{{ tour.alias }}/participants">选手</a></li>
                    <li class="list-group-item"><a href="/{{ tour.alias }}/export">导出比赛</a></li>

                    <li class="list-group-item"><a href="/{{ tour.alias }}/delete" onclick="javascript:if (confirm('您真的确定要删除吗？\n\n请确认！')==true)return true;else return false;">删除比赛</a></li>

                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="col-md-9">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
