{% extends "pmtour/base.html" %}
{% block title %}{{ tour.name }} - 对阵表{% endblock %}
{% block content %}
    {% if tour.is_over %}

<div class="jumbotron">
    <h2>冠军：{{ tour.get_current_champion }}</h2>
    <p>比赛已经结束，请到<a href="/{{ tour.alias }}/log">历史记录里查看</a></p>
</div>
    {% elif tour.status == -2 %}
    {% if has_perm %}
<p>快去<a href="settings">设置页</a>完善比赛信息~</p>
<div class="jumbotron">
    <form action="/{{ tour.alias }}/" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" name="commit" value="ok">准备完毕</button>
    </form>
</div>
    {% else %}
<div class="alert alert-info">比赛还在准备中……</div>
    {% endif %}
    {% elif tour.status <= 0 %}
<div class="alert alert-info">比赛还未开始</div>
    {% else %}
<div class="alert alert-info">现在进行第{{ tour.status }}轮</div>
{% if has_perm %}
    <div class="panel-body">
        <button class="btn btn-primary pull-right" onclick="$.get('/{{ tour.alias }}/check', function (data){alert(data);})">检查</button>
        <form action="/{{ tour.alias }}/" method="post">
            {% csrf_token %}
            <button class="btn btn-success" type="submit" name="commit" value="start">开始下一轮</button>
        </form>
    </div>
{% endif %}

{{ bracket }}
    {% endif %}
    {% endblock %}
