{% extends "pmtour/base.html" %}
{% block title %}{{ tour.name }}{% endblock %}
{% block content %}
<div class="jumbotron">
    {% if tour.is_over %}
    <h1>冠军：{{ tour.get_current_champion }}</h1>
    <h3>{{ bracket }}</h3>
    <p>比赛已经结束，请到<a href="/{{ tour.alias }}/log">历史记录里查看</a></p>
    {% elif tour.status == -2 %}
    {% if has_perm %}
    <p>快去<a href="settings">设置页</a>完善比赛信息~</p>
    <form action="#" method="post">
        {% csrf_token %}
        <button type="submit" name="commit" value="ok" class="btn btn-primary btn-lg">准备完毕</button>
    </form>
    {% else %}
    <h1>比赛还在准备中……</h1>
    {% endif %}
    {% elif tour.status == -1 %}
    <h1>比赛还没有开始……</h1>
    {% if has_perm %}
    <form action="#" method="post">
        {% csrf_token %}
        <button class="btn btn-primary btn-lg" type="submit" name="commit" value="start_tour">提前开始</button>
    </form>
    {% endif %}
    {% elif tour.status == 0 %}
    <h1>比赛即将开始……</h1>
    {% if has_perm %}
    <form action="#" method="post">
        {% csrf_token %}
        <button class="btn btn-primary btn-lg" type="submit" name="commit" value="start">开始第一轮</button>
    </form>
    {% endif %}
    {% else %}
    {% if has_perm %}
    <form action="#" method="post">
        {% csrf_token %}
        <button class="btn btn-primary btn-lg" type="submit" name="commit" value="stop">结束比赛</button>
    </form>
    {% endif %}
    <h1>现在进行第{{ tour.status }}轮</h1>
    <h3>{{ bracket }}</h3>
    {% endif %}
</div>





{% endblock %}
