{% extends "pmtour/index.html" %}
{% load staticfiles %}
{% block title %}{{ tour.name }} - 记录 - {{ turn.turn_number }}{% endblock %}
{% block jss %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'pmtour/log.js' %}"></script>
{% endblock %}
{% block content %}
    {# TODO: 之前各轮的记录 #}
    <nav aria-label="navigation" class="round-selector">
    <ul>
    {% for turn in tour.turn_set.reverse %}
        <li><a id="round-select" href="#{{ turn.turn_number }}">{% if tour.is_over and forloop.revcounter == 1 %}最终回合{% else %}回合{{ turn.turn_number }}{% endif %}</a></li>
    {% endfor %}
    </ul>
    <ul>
        <li><div id="round-standing" class="clickable">排行榜</div></li>
        <li><div id="round-bracket" class="clickable">对阵表</div></li>
    </ul>
    <div id="result-standings"></div>
    <div id="result-bracket" class="control-hidden"></div>
    </nav>
{% endblock %}
