{% extends "pmtour/index.html" %}
{% load staticfiles %}
{% block title %}{{ tour.name }} - 选手设定{% endblock %}
{% block jss %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'pmtour/participants.js' %}"></script>
{% endblock %}
{% block content %}
    <a href="add">添加选手</a>
    <ul>
    {% for player in tour.player_set.all %}
        <li>{{ player.playerid }} - {{ player }}</li>
    {% endfor %}
    </ul>
{% endblock %}
