{% extends "pmtour/base.html" %}
{% load static %}
{% block title %}{{ tour.name }} - 选手设定{% endblock %}
{% block jss %}
    {% if has_perm and not tour.is_over %}
    <script type="text/javascript" src="{% static 'pmtour/participants.js' %}"></script>
    {% endif %}
{% endblock %}
{% block csss %}
    {% if has_perm and not tour.is_over %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/editable.css' %}">
    {% endif %}
{% endblock %}
{% block content %}
    {% if not tour.is_over %}
    <div class="well">
        <a class="btn btn-primary" href="add">添加选手</a>
        <a class="btn btn-primary" href="add_test">添加临时选手</a>
    </div>

    {% endif %}
    {% csrf_token %}
    <ul class="list-group">
    {% for player in tour.player_set.all %}
        <li class="list-group-item">
            <div class="editable">
                <span>{{ player.playerid }} - </span>
                <span class="edited" id="p_{{ player.playerid }}">{{ player.name }}</span>
                <input class="editing" type="text" id="e_{{ player.playerid }}" value="{{ player.name }}">
                <span>({{ player.user.name }})</span>
                {% if has_perm and not tour.is_over %}
                    {% if player.exited %}
                        <button class="btn btn-danger btn-xs pull-right exit-button" id="q_{{ player.playerid }}" disabled>已退出</button>
                    {% else %}
                        <button class="btn btn-danger btn-xs pull-right exit-button" id="q_{{ player.playerid }}" value="exit">退出比赛</button>
                    {% endif %}
                    <input type="hidden" name="playerid" value="{{ player.playerid }}">
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
