{% extends "pmtour/base.html" %}
{% load staticfiles %}
{% block title %}{{ tour.name }} - 选手设定{% endblock %}
{% block jss %}
    {% if has_perm and not tour.is_over %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'pmtour/participants.js' %}"></script>
    {% endif %}
{% endblock %}
{% block csss %}
    <link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/pure-min.css" %}">
    {% if has_perm and not tour.is_over %}
    <link rel="stylesheet" type="text/css" href="{% static "css/editable.css" %}">
    {% endif %}
{% endblock %}
{% block content %}
    {% if not tour.is_over %}
        <p><a href="add">添加选手</a></p>
        <p><a href="add_test">添加测试选手</a></p>
    {% endif %}
    <ul>
    {% for player in tour.player_set.all %}
        <li>
            <div class="editable">
                <span>{{ player.playerid }} - </span>
                <span class="edited" id="p_{{ player.playerid }}">{{ player.name }}</span>
                <input class="editing" type="text" id="p_{{ player.playerid }}" value="{{ player.name }}">
                <span>({{ player.user.name }})</span>
            {% if has_perm and not tour.is_over %}
            <form method="post" action="#">
                <button type="submit" name="commit" value="exit">退出比赛</button>
                <input type="hidden" name="playerid" value="{{ player.playerid }}">
                {% csrf_token %}
            </form>
            {% endif %}
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
