/*
 * filename: static/css/default.css
 * by スノル
 */
@charset "utf-8";

#container {
    display: table;
    width: 100%;
    clear: both;
}

#content {
    width: 65%;
    margin: 3px;
    float: left;
}

#sidebar {
    width: 30%;
    margin: 3px;
    float: right;
}

.control-hidden {
    display: none;
}

.control-group {
    margin-bottom: 20px;
}

.controls {
    /*margin-left: 180px;*/
}

.filtered {
    width: 250px;
    height: 300px;
}

.selector {
    margin-left: 100px;
}

.table-left {
    text-align: left;
}

.table-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-highlight {
    color: red;
}

.clickable:hover {
    cursor: pointer;
}

/*make winner shinny*/
.matches > b {
    /*   text-shadow:0px 0px 0px black, 0 0 2em blue, 0 0 0.2em blue; */
    font-weight: bold;
    font-size: 1em;
    font-family: Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

/*odd and even*/
tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

tr:nth-of-type(even) {
    background-color: #ffffff;
}

/*some css for log.html*/
#logtable-main {
    margin: auto;
    width: 1024px;
    background: #EBEBEB;
    font-family: '微软雅黑' !important;
    border: 1px #E5E5EE solid;
}

#logtabel-menu {
    width: 100px;
    height: 100px;
"
}

#logtabel-menu > div {
    width: 100px;
    height: 100%;
    top: 0;
}

#result-bracket {
    text-align: left;
}

.list-player {
    width: 250px;
}

.editable .editing {
    opacity: 0;
    width: 0;
    transition: width 0s;
    -moz-transition: width 0s;
    -webkit-transition: width 0s;
    -o-transition: width 0s;
}

#player-info > .row {
    border-top: 1px solid rgba(86, 61, 124, .2);
}

#player-info > .row-last {
    border-bottom: 1px solid rgba(86, 61, 124, .2);
}

.info-col {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-left: 1px solid rgba(86, 61, 124, .2);
}

.info-col:nth-child(1) {
    border-left: none;
}

ul.tourlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
