.editable:hover .editing{
    opacity: 1;
    width: 80%;
    transition: opacity 400ms, width 400ms;
    -moz-transition: opacity 400ms, width 400ms;
    -webkit-transition: opacity 400ms, width 400ms;
    -o-transition: opacity 400ms, width 400ms;
}

.editable:hover .edited{
    display: none;
}