{% extends "base.html" %}
{% block title %}导入比赛{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if status == -1 %}
            <div class="alert alert-danger">出错啦！</div>{% endif %}
            <div class="form-group">
                <form id="import_form" action="#" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>JSON数据</label>
                        <textarea name="import_data" id="import_data" class="form-control" rows="8"></textarea>
                    </div>
                    <button type="submit" name="commit" class="btn btn-primary">导入比赛</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
