{% extends "base.html" %}
{% block title %}导入比赛{% endblock %}
{% block body %}
    {% if status == -1 %}
    <p>出错啦</p>
    {% endif %}
    <form id="import_form" class="form-horizontal" action="#" method="post">
        <div class="control-group">
            <label class="control-label" for="import_data">json数据</label>
            <div class="controls">
                <textarea name="import_data" id="import_data" class="input"></textarea>
            </div>
        </div>
        <button type="submit" name="commit">导入比赛</button>
        {% csrf_token %}
    </form>
{% endblock %}
