{% extends "base.html" %}
{% block title %}登录{% endblock %}
{% block body %}
    <div id="login_w" class="login_w">
        {% if mes == 1 %}
            <p>您的账号已被停用！</p>
        {% elif mes == 2 %}
            <p>账号密码错误！</p>
        {% endif %}
        <form method="post" action=".">
            {% csrf_token %}
            <p>
                <label for="user_login">用户名<br>
                <input type="text" name="log" id="user_login" class="input" value="" size="20"></label>
            </p>
            <p>
                <label for="user_pass">密码<br>
                <input type="password" name="pwd" id="user_pass" class="input" value="" size="20"></label>
            </p>
            <p class="submit">
                <input type="submit" name="submit" id="submit" class="button" value="登录">
                <input type="hidden" name="next" id="next" value="{{ next }}">
            </p>
        </form>
    </div>
    <div id="return_index">
        <a href="/">返回主页</a>
    </div>
{% endblock %}
