{% extends "base.html" %}
{% block title %}编辑信息{% endblock %}
{% block body %}
    <h2>编辑信息</h2>
    <form id="test_add" class="form-horizontal" action="#" method="post">
        <div class="control-group">
            <label class="control-label" for="player_username">用户名</label>
            <div class="controls">
                <input type="text" name="player_username" id="player_username" class="input" value="{{ playeruser.user.username }}" disabled="true" size="20">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="player_id">Player ID</label>
            <div class="controls">
                <input type="text" name="player_id" id="player_id" class="input" value="{{ playeruser.player_id }}" disabled="true" size="20">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="player_name">显示昵称</label>
            <div class="controls">
                <input type="text" name="player_name" id="player_name" class="input" value="{{ playeruser.name }}" size="20">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="player_birthday">生日</label>
            <div class="controls">
                <input type="date" name="player_birthday" id="player_birthday" class="input" value="{{ playeruser.birthday.isoformat }}" size="20">
            </div>
        </div>
        {% if player_set %}
        <div class="control-group">
            <label class="control-label" for="joined_tournaments">曾参加比赛</label>
            <div class="controls">
                <ul>
                    {% for player in player_set %}
                    <li>{{ player.tournament.name }} - {{ player.name }} {{ player.get_printable}} {{ self.score }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <!--<button type="submit" name="commit" value="next">保存并编辑下一个</button>-->
        <button type="submit" name="commit" value="return">保存并返回</button>
        {% csrf_token %}
        <input type="hidden" name="obj_url" value="{{ obj_url }}">
    </form>
{% endblock %}
