{% extends "accounts/base.html" %}
{% block title %}编辑信息{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading active">编辑信息</div>
        <div class="panel-body">
            <form class="form-horizontal" id="test_add" action="#" method="post">
                {% if status == 1 %}
                    <div class="alert alert-success">保存成功</div>
                {% elif status == 2 %}
                    <div class="alert alert-danger">保存出错</div>
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户名</label>

                    <div class="col-sm-6">
                        <input type="text" name="player_username" id="player_username" class="form-control"
                               value="{{ playeruser.user.username }}" disabled size="20">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">PlayerID</label>

                    <div class="col-sm-6">
                        <input type="text" name="player_id" id="player_id" class="form-control"
                               value="{{ playeruser.player_id }}" disabled size="20">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">昵称</label>

                    <div class="col-sm-6">
                        <input type="text" name="player_name" id="player_name" class="form-control"
                               value="{{ playeruser.name }}" size="20">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">生日</label>

                    <div class="col-sm-6">
                        <input type="date" name="player_birthday" id="player_birthday" class="form-control"
                               value="{{ playeruser.birthday.isoformat }}" size="20">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">个人介绍</label>

                    <div class="col-sm-6">
                        <textarea name="player_introduction" id="player_introduction"
                                  class="form-control">{{ introduction | default:"" }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" name="commit" value="return" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
