<!DOCTYPE html>
<html>
    <head>
        {% block head_mae %}{% endblock %}
        <link rel="icon" href="{% block icon %}/static/sindex.ico{% endblock %}">
        <title>{% block title %}Untitled{% endblock %}</title>
        {% block csss %}
        <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
        {% endblock %}
        {% block jss %}{% endblock %}
        {% block head_ato %}{% endblock %}
    </head>
    <body>
        <header id="header"><a href="/accounts/">{% if user.is_authenticated %} {{ user.username }} {% else %}登录{% endif %}</a></header>
        {% block body %}
        {% endblock %}
    </body>
</html>
