<!DOCTYPE html>
<html>
    <head>
        {% block head_mae %}{% endblock %}
        <link rel="icon" href="{% block icon %}/static/sindex.ico{% endblock %}">
        <title>{% block title %}Untitled{% endblock %}</title>
        {% block csss %}
        <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
        {% endblock %}
        {% block jss %}{% endblock %}
        {% block head_ato %}{% endblock %}
    </head>
    <body>
        <header id="header">
            {% if user.is_authenticated %}
                <a href="/accounts/">{{ user.username }}</a> <a href="/accounts/logout?next={{ request.path }}">登出</a>
            {% else %}
                <a href="/accounts/login?next={{ request.path }}">登录</a>
            {% endif %}
        </header>
        {% block body %}
        {% endblock %}
    </body>
</html>
